In [9]:
!pip install pandas
!pip install tensorflow

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.12/dist-packages (2.19.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (25.12.19)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.7.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from tensorflow) (26.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (5.29.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.32.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (4.15.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.1.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (1.76.0)
Requirement already satisfied: tensorboard~=2.19.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (3.15.1)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow) (0.5.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from astunparse>=1.6.0->tensorflow) (0.46.3)
Requirement already satisfied: rich in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow) (0.18.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow) (2026.1.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (3.10.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow) (3.1.5)
Requirement already satisfied: markupsafe>=2.1.1 in /usr/local/lib/python3.12/dist-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

In [10]:
import os
os.environ['TF_ENABLE_ONEDNN_OPTS'] = '0'
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

In [11]:
import pandas as pd
import numpy as np
import keras
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [12]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [13]:
concrete_data.shape
concrete_data.describe()
concrete_data.isnull()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1025,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False
1028,False,False,False,False,False,False,False,False,False
1029,False,False,False,False,False,False,False,False,False

In [14]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [15]:
predictors.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [16]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [17]:
n_cols = predictors_norm.shape[1]

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

In [19]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))

    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [21]:
# build the model
model = regression_model()
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 2s - 68ms/step - loss: 1658.4510 - val_loss: 1168.0227
Epoch 2/100
23/23 - 0s - 9ms/step - loss: 1528.1356 - val_loss: 1056.3878
Epoch 3/100
23/23 - 0s - 7ms/step - loss: 1324.5280 - val_loss: 879.8775
Epoch 4/100
23/23 - 0s - 13ms/step - loss: 1015.3078 - val_loss: 649.4928
Epoch 5/100
23/23 - 0s - 8ms/step - loss: 663.3193 - val_loss: 417.6143
Epoch 6/100
23/23 - 0s - 7ms/step - loss: 391.6269 - val_loss: 266.5557
Epoch 7/100
23/23 - 0s - 8ms/step - loss: 283.4896 - val_loss: 211.3166
Epoch 8/100
23/23 - 0s - 7ms/step - loss: 249.5442 - val_loss: 191.9499
Epoch 9/100
23/23 - 0s - 7ms/step - loss: 230.0508 - val_loss: 182.7385
Epoch 10/100
23/23 - 0s - 7ms/step - loss: 215.2934 - val_loss: 178.5201
Epoch 11/100
23/23 - 0s - 7ms/step - loss: 204.4480 - val_loss: 174.1068
Epoch 12/100
23/23 - 0s - 7ms/step - loss: 195.1959 - val_loss: 170.2437
Epoch 13/100
23/23 - 0s - 8ms/step - loss: 187.2579 - val_loss: 167.3302
Epoch 14/100
23/23 - 0s - 7ms/step - loss: 180.9997 - val_loss: 165.3675
Epoch 15/100
23/23 - 0s - 7ms/step - loss: 174.9837 - val_loss: 161.7781
Epoch 16/100
23/23 - 0s - 7ms/step - loss: 170.6474 - val_loss: 157.2882
Epoch 17/100
23/23 - 0s - 8ms/step - loss: 166.2144 - val_loss: 159.8714
Epoch 18/100
23/23 - 0s - 8ms/step - loss: 161.9767 - val_loss: 159.1325
Epoch 19/100
23/23 - 0s - 16ms/step - loss: 158.7419 - val_loss: 156.8192
Epoch 20/100
23/23 - 1s - 25ms/step - loss: 156.0682 - val_loss: 157.2181
Epoch 21/100
23/23 - 0s - 12ms/step - loss: 153.2404 - val_loss: 155.7998
Epoch 22/100
23/23 - 0s - 12ms/step - loss: 151.6958 - val_loss: 157.3316
Epoch 23/100
23/23 - 0s - 11ms/step - loss: 148.9185 - val_loss: 153.3542
Epoch 24/100
23/23 - 0s - 17ms/step - loss: 146.3439 - val_loss: 154.1731
Epoch 25/100
23/23 - 1s - 24ms/step - loss: 144.5718 - val_loss: 153.7976
Epoch 26/100
23/23 - 0s - 9ms/step - loss: 143.1144 - val_loss: 154.0533
Epoch 27/100
23/23 - 0s - 8ms/step - loss: 140.8210 - val_loss: 151.6101
Epoch 28/100
23/23 - 0s - 8ms/step - loss: 139.4277 - val_loss: 154.2206
Epoch 29/100
23/23 - 0s - 8ms/step - loss: 137.0679 - val_loss: 150.6363
Epoch 30/100
23/23 - 0s - 8ms/step - loss: 134.5140 - val_loss: 151.9794
Epoch 31/100
23/23 - 0s - 7ms/step - loss: 132.7842 - val_loss: 151.7986
Epoch 32/100
23/23 - 0s - 8ms/step - loss: 131.2422 - val_loss: 149.9339
Epoch 33/100
23/23 - 0s - 7ms/step - loss: 129.0721 - val_loss: 149.6833
Epoch 34/100
23/23 - 0s - 9ms/step - loss: 127.2839 - val_loss: 151.2254
Epoch 35/100
23/23 - 0s - 7ms/step - loss: 125.1910 - val_loss: 149.4870
Epoch 36/100
23/23 - 0s - 8ms/step - loss: 123.1641 - val_loss: 149.1005
Epoch 37/100
23/23 - 0s - 7ms/step - loss: 120.9869 - val_loss: 146.7627
Epoch 38/100
23/23 - 0s - 8ms/step - loss: 118.7125 - val_loss: 144.6822
Epoch 39/100
23/23 - 0s - 7ms/step - loss: 116.7157 - val_loss: 147.0052
Epoch 40/100
23/23 - 0s - 8ms/step - loss: 114.1311 - val_loss: 146.8274
Epoch 41/100
23/23 - 0s - 7ms/step - loss: 111.4898 - val_loss: 144.5736
Epoch 42/100
23/23 - 0s - 7ms/step - loss: 109.1657 - val_loss: 144.0238
Epoch 43/100
23/23 - 0s - 7ms/step - loss: 106.4138 - val_loss: 141.5022
Epoch 44/100
23/23 - 0s - 7ms/step - loss: 103.9523 - val_loss: 145.6991
Epoch 45/100
23/23 - 0s - 8ms/step - loss: 100.7118 - val_loss: 144.1154
Epoch 46/100
23/23 - 0s - 8ms/step - loss: 97.4059 - val_loss: 140.1379
Epoch 47/100
23/23 - 0s - 7ms/step - loss: 95.1842 - val_loss: 138.7068
Epoch 48/100
23/23 - 0s - 7ms/step - loss: 92.0630 - val_loss: 141.3497
Epoch 49/100
23/23 - 0s - 14ms/step - loss: 89.0317 - val_loss: 134.8565
Epoch 50/100
23/23 - 0s - 7ms/step - loss: 85.2499 - val_loss: 133.6969
Epoch 51/100
23/23 - 0s - 8ms/step - loss: 81.2627 - val_loss: 132.2520
Epoch 52/100
23/23 - 0s - 7ms/step - loss: 78.1199 - val_loss: 138.3982
Epoch 53/100
23/23 - 0s - 7ms/step - loss: 74.8405 - val_loss: 136.3221
Epoch 54/100
23/23 - 0s - 13ms/step - loss: 71.5204 - val_loss: 138.1856
Epoch 55/100
23/23 - 0s - 7ms/step - loss: 69.0921 - val_loss: 129.9667
Epoch 56/100
23/23 - 0s - 8ms/step - loss: 66.3276 - val_loss: 133.9770
Epoch 57/100
23/23 - 0s - 7ms/step - loss: 63.9209 - val_loss: 131.5772
Epoch 58/100
23/23 - 0s - 7ms/step - loss: 62.1688 - val_loss: 129.8581
Epoch 59/100
23/23 - 0s - 8ms/step - loss: 60.6375 - val_loss: 129.3971
Epoch 60/100
23/23 - 0s - 8ms/step - loss: 58.2584 - val_loss: 136.2079
Epoch 61/100
23/23 - 0s - 7ms/step - loss: 56.9881 - val_loss: 138.7518
Epoch 62/100
23/23 - 0s - 8ms/step - loss: 55.4711 - val_loss: 131.0962
Epoch 63/100
23/23 - 0s - 7ms/step - loss: 54.1677 - val_loss: 137.0594
Epoch 64/100
23/23 - 0s - 7ms/step - loss: 53.4694 - val_loss: 129.5240
Epoch 65/100
23/23 - 0s - 7ms/step - loss: 51.8422 - val_loss: 132.4605
Epoch 66/100
23/23 - 0s - 7ms/step - loss: 50.4732 - val_loss: 140.6959
Epoch 67/100
23/23 - 0s - 7ms/step - loss: 49.9643 - val_loss: 129.1799
Epoch 68/100
23/23 - 0s - 8ms/step - loss: 49.1460 - val_loss: 134.7062
Epoch 69/100
23/23 - 0s - 8ms/step - loss: 50.1459 - val_loss: 140.5726
Epoch 70/100
23/23 - 0s - 8ms/step - loss: 47.3670 - val_loss: 133.1059
Epoch 71/100
23/23 - 0s - 8ms/step - loss: 46.5265 - val_loss: 121.9274
Epoch 72/100
23/23 - 0s - 7ms/step - loss: 46.4546 - val_loss: 139.2383
Epoch 73/100
23/23 - 0s - 7ms/step - loss: 44.9411 - val_loss: 139.5044
Epoch 74/100
23/23 - 0s - 8ms/step - loss: 44.4657 - val_loss: 122.5744
Epoch 75/100
23/23 - 0s - 7ms/step - loss: 43.4465 - val_loss: 143.3648
Epoch 76/100
23/23 - 0s - 14ms/step - loss: 42.8819 - val_loss: 135.9833
Epoch 77/100
23/23 - 0s - 7ms/step - loss: 42.3594 - val_loss: 143.2774
Epoch 78/100
23/23 - 0s - 7ms/step - loss: 42.3996 - val_loss: 140.2503
Epoch 79/100
23/23 - 0s - 14ms/step - loss: 41.3935 - val_loss: 132.3252
Epoch 80/100
23/23 - 0s - 15ms/step - loss: 41.0848 - val_loss: 145.7099
Epoch 81/100
23/23 - 0s - 11ms/step - loss: 40.6816 - val_loss: 128.6202
Epoch 82/100
23/23 - 0s - 16ms/step - loss: 40.0374 - val_loss: 142.5442
Epoch 83/100
23/23 - 0s - 11ms/step - loss: 39.4540 - val_loss: 146.3862
Epoch 84/100
23/23 - 0s - 11ms/step - loss: 39.6592 - val_loss: 131.9902
Epoch 85/100
23/23 - 0s - 11ms/step - loss: 39.0948 - val_loss: 143.9118
Epoch 86/100
23/23 - 0s - 19ms/step - loss: 38.5233 - val_loss: 130.3406
Epoch 87/100
23/23 - 0s - 12ms/step - loss: 38.4131 - val_loss: 138.4754
Epoch 88/100
23/23 - 0s - 15ms/step - loss: 37.5582 - val_loss: 147.9887
Epoch 89/100
23/23 - 0s - 8ms/step - loss: 36.9355 - val_loss: 142.4032
Epoch 90/100
23/23 - 0s - 9ms/step - loss: 36.6756 - val_loss: 144.2302
Epoch 91/100
23/23 - 0s - 7ms/step - loss: 36.3062 - val_loss: 140.2516
Epoch 92/100
23/23 - 0s - 7ms/step - loss: 36.3997 - val_loss: 154.6262
Epoch 93/100
23/23 - 0s - 7ms/step - loss: 36.2324 - val_loss: 154.8776
Epoch 94/100
23/23 - 0s - 8ms/step - loss: 35.5202 - val_loss: 139.7214
Epoch 95/100
23/23 - 0s - 7ms/step - loss: 35.2020 - val_loss: 148.9391
Epoch 96/100
23/23 - 0s - 9ms/step - loss: 35.1856 - val_loss: 139.9783
Epoch 97/100
23/23 - 0s - 7ms/step - loss: 34.9801 - val_loss: 134.6522
Epoch 98/100
23/23 - 0s - 7ms/step - loss: 34.7675 - val_loss: 136.8948
Epoch 99/100
23/23 - 0s - 7ms/step - loss: 34.2620 - val_loss: 153.9685
Epoch 100/100
23/23 - 0s - 7ms/step - loss: 34.3506 - val_loss: 157.2330